@model WebApp_EF.Models.Spotify

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Spotify</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeatsPerMinute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeatsPerMinute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Energy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Energy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Danceability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Danceability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loudness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loudness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Liveness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Liveness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acousticness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acousticness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speechiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speechiness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Index" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
